<h3>Password Reset!</h3>
<p>
    Hello {{ name }}!
</p><p>
    Someone has requested a password request on your account. If you did not make the request, Kindly ignore this message.</p>
<p>If you made the request, use the link below to create a new password for your account.
</p><p>
    <a href="http://webshop.iflora.biz/account/{{ code }}/reset-password">Click Here</a>.
</p><p>
    Thank you!
</p><p>

    --iFlora Team
</p><p>
    {# Makes an absolute URL to the loko/images/PRISK_Logo_v_2.2_website.png file #}
    <img src="{{ absolute_url(asset('iflora/images/logo.png')) }}">

<hr/>
Note: This is a system generated mail. Please do NOT reply to it.
</p>