<div class="sidebar sidebar-additional">
    <div class="block block-compare" data-bind="scope: 'compareProducts'" data-role="compare-products-sidebar">
        <div class="block-title">
            <strong id="block-compare-heading" aria-level="2" role="heading">
                Compare Products</strong>
				<span class="counter qty no-display"
                      data-bind="text: compareProducts().countCaption, css: {'no-display': !compareProducts().count}">
				</span></div>
        <!-- ko if: compareProducts().count -->
        <!-- /ko -->
        <!-- ko ifnot: compareProducts().count -->
        <div class="empty">
            You have no items to compare.
        </div>
        <!-- /ko --></div>
    <div class="block block-wishlist" data-bind="scope: 'wishlist'">
        <div class="block-title">
            <strong>My Wish List</strong>
            <!-- ko if: wishlist().counter -->
            <!-- /ko --></div>
        <div class="block-content">
            <strong class="subtitle">Last Added Items</strong>
            <!-- ko if: wishlist().counter -->
            <!-- /ko -->
            <!-- ko ifnot: wishlist().counter -->
            <div class="empty">
                You have no items in your wish list.
            </div>
            <!-- /ko --></div>
    </div>
    <div class="pt-recentproduct-container block">
        <div class="block-title">
            <strong>Mostviewed</strong></div>
        <div class="owl-container">
            <ul class="ptowl owl-carousel owl-theme" style="display: block; opacity: 1;">
                <div class="owl-wrapper-outer">
                    <div class="owl-wrapper" style="width: 2160px; left: 0px; display: block;">
                        <div class="owl-item active" style="width: 270px;">
                            <li class="item">
                                <div class="product-items">
                                    <div class="item-inner">
                                        <div class="image-container pull-left">
                                            <a class="product-item-photo"
                                               href="http://plazathemes.com/demo/presiden/english11/short-sleeve/interesting-moments-1.html">
                                                <img alt=""
                                                     src="http://plazathemes.com/demo/presiden/pub/media/catalog/product/cache/small_image/400x/925f46717e92fbc24a8e2d03b22927e1/1/7/17kid_1_1.jpg">
                                            </a></div>
                                        <div class="des media-body">
                                            <div class="product-name">
                                                <strong class="product-item-name">
                                                    <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve/interesting-moments-1.html">
                                                        Nteresting moments</a> </strong>
                                            </div>
                                            <div class="price-box price-final_price" data-product-id="73"
                                                 data-role="priceBox">
												<span class="price-container price-final_price tax weee">
												<span class="price-wrapper " data-price-amount="60"
                                                      data-price-type="finalPrice">
												<span class="price">$60.00</span>
												</span></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-items">
                                    <div class="item-inner">
                                        <div class="image-container pull-left">
                                            <a class="product-item-photo"
                                               href="http://plazathemes.com/demo/presiden/english11/short-sleeve/interesting-moments.html">
                                                <img alt=""
                                                     src="http://plazathemes.com/demo/presiden/pub/media/catalog/product/cache/small_image/400x/925f46717e92fbc24a8e2d03b22927e1/1/6/16kid_1.jpg">
                                            </a></div>
                                        <div class="des media-body">
                                            <div class="product-name">
                                                <strong class="product-item-name">
                                                    <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve/interesting-moments.html">
                                                        Interesting moments</a> </strong>
                                            </div>
                                            <div class="price-box price-final_price" data-product-id="72"
                                                 data-role="priceBox">
												<span class="price-container price-final_price tax weee">
												<span class="price-wrapper " data-price-amount="60"
                                                      data-price-type="finalPrice">
												<span class="price">$60.00</span>
												</span></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-items">
                                    <div class="item-inner">
                                        <div class="image-container pull-left">
                                            <a class="product-item-photo"
                                               href="http://plazathemes.com/demo/presiden/english11/short-sleeve/ashion-that-retail.html">
                                                <img alt=""
                                                     src="http://plazathemes.com/demo/presiden/pub/media/catalog/product/cache/small_image/400x/925f46717e92fbc24a8e2d03b22927e1/1/5/15kid.jpg">
                                            </a></div>
                                        <div class="des media-body">
                                            <div class="product-name">
                                                <strong class="product-item-name">
                                                    <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve/ashion-that-retail.html">
                                                        Ashion that retail</a> </strong>
                                            </div>
                                            <div class="price-box price-final_price" data-product-id="71"
                                                 data-role="priceBox">
												<span class="price-container price-final_price tax weee">
												<span class="price-wrapper " data-price-amount="60"
                                                      data-price-type="finalPrice">
												<span class="price">$60.00</span>
												</span></span></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </div>
                        <div class="owl-item" style="width: 270px;">
                            <li class="item">
                                <div class="product-items">
                                    <div class="item-inner">
                                        <div class="image-container pull-left">
                                            <a class="product-item-photo"
                                               href="http://plazathemes.com/demo/presiden/english11/short-sleeve/fashion-that-retail.html">
                                                <img alt=""
                                                     src="http://plazathemes.com/demo/presiden/pub/media/catalog/product/cache/small_image/400x/925f46717e92fbc24a8e2d03b22927e1/9/k/9kid_3.jpg">
                                            </a></div>
                                        <div class="des media-body">
                                            <div class="product-name">
                                                <strong class="product-item-name">
                                                    <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve/fashion-that-retail.html">
                                                        Fashion that retail</a> </strong>
                                            </div>
                                            <div class="price-box price-final_price" data-product-id="70"
                                                 data-role="priceBox">
												<span class="price-container price-final_price tax weee">
												<span class="price-wrapper " data-price-amount="60"
                                                      data-price-type="finalPrice">
												<span class="price">$60.00</span>
												</span></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-items">
                                    <div class="item-inner">
                                        <div class="image-container pull-left">
                                            <a class="product-item-photo"
                                               href="http://plazathemes.com/demo/presiden/english11/short-sleeve/designer-fashion.html">
                                                <img alt=""
                                                     src="http://plazathemes.com/demo/presiden/pub/media/catalog/product/cache/small_image/400x/925f46717e92fbc24a8e2d03b22927e1/8/k/8kid_3.jpg">
                                            </a></div>
                                        <div class="des media-body">
                                            <div class="product-name">
                                                <strong class="product-item-name">
                                                    <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve/designer-fashion.html">
                                                        Designer fashion</a> </strong>
                                            </div>
                                            <div class="price-box price-final_price" data-product-id="69"
                                                 data-role="priceBox">
												<span class="price-container price-final_price tax weee">
												<span class="price-wrapper " data-price-amount="60"
                                                      data-price-type="finalPrice">
												<span class="price">$60.00</span>
												</span></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-items">
                                    <div class="item-inner">
                                        <div class="image-container pull-left">
                                            <a class="product-item-photo"
                                               href="http://plazathemes.com/demo/presiden/english11/short-sleeve/performance-fleece-1.html">
                                                <img alt=""
                                                     src="http://plazathemes.com/demo/presiden/pub/media/catalog/product/cache/small_image/400x/925f46717e92fbc24a8e2d03b22927e1/6/k/6kid_4.jpg">
                                            </a></div>
                                        <div class="des media-body">
                                            <div class="product-name">
                                                <strong class="product-item-name">
                                                    <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve/performance-fleece-1.html">
                                                        Formance Fleece</a> </strong>
                                            </div>
                                            <div class="price-box price-final_price" data-product-id="68"
                                                 data-role="priceBox">
												<span class="price-container price-final_price tax weee">
												<span class="price-wrapper " data-price-amount="60"
                                                      data-price-type="finalPrice">
												<span class="price">$60.00</span>
												</span></span></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </div>
                        <div class="owl-item" style="width: 270px;">
                            <li class="item">
                                <div class="product-items">
                                    <div class="item-inner">
                                        <div class="image-container pull-left">
                                            <a class="product-item-photo"
                                               href="http://plazathemes.com/demo/presiden/english11/short-sleeve/performance-fleece.html">
                                                <img alt=""
                                                     src="http://plazathemes.com/demo/presiden/pub/media/catalog/product/cache/small_image/400x/925f46717e92fbc24a8e2d03b22927e1/5/k/5kid_4.jpg">
                                            </a></div>
                                        <div class="des media-body">
                                            <div class="product-name">
                                                <strong class="product-item-name">
                                                    <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve/performance-fleece.html">
                                                        Performance Fleece</a> </strong>
                                            </div>
                                            <div class="price-box price-final_price" data-product-id="67"
                                                 data-role="priceBox">
												<span class="price-container price-final_price tax weee">
												<span class="price-wrapper " data-price-amount="60"
                                                      data-price-type="finalPrice">
												<span class="price">$60.00</span>
												</span></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-items">
                                    <div class="item-inner">
                                        <div class="image-container pull-left">
                                            <a class="product-item-photo"
                                               href="http://plazathemes.com/demo/presiden/english11/short-sleeve/typhon-performance.html">
                                                <img alt=""
                                                     src="http://plazathemes.com/demo/presiden/pub/media/catalog/product/cache/small_image/400x/925f46717e92fbc24a8e2d03b22927e1/4/k/4kid_3.jpg">
                                            </a></div>
                                        <div class="des media-body">
                                            <div class="product-name">
                                                <strong class="product-item-name">
                                                    <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve/typhon-performance.html">
                                                        Typhon Performance</a> </strong>
                                            </div>
                                            <div class="price-box price-final_price" data-product-id="66"
                                                 data-role="priceBox">
												<span class="price-container price-final_price tax weee">
												<span class="price-wrapper " data-price-amount="60"
                                                      data-price-type="finalPrice">
												<span class="price">$60.00</span>
												</span></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-items">
                                    <div class="item-inner">
                                        <div class="image-container pull-left">
                                            <a class="product-item-photo"
                                               href="http://plazathemes.com/demo/presiden/english11/short-sleeve/helios-evercool-trade.html">
                                                <img alt=""
                                                     src="http://plazathemes.com/demo/presiden/pub/media/catalog/product/cache/small_image/400x/925f46717e92fbc24a8e2d03b22927e1/3/k/3kid_2.jpg">
                                            </a></div>
                                        <div class="des media-body">
                                            <div class="product-name">
                                                <strong class="product-item-name">
                                                    <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve/helios-evercool-trade.html">
                                                        Helios EverCool&amp;trade</a>
                                                </strong></div>
                                            <div class="price-box price-final_price" data-product-id="65"
                                                 data-role="priceBox">
												<span class="price-container price-final_price tax weee">
												<span class="price-wrapper " data-price-amount="24"
                                                      data-price-type="finalPrice">
												<span class="price">$24.00</span>
												</span></span></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </div>
                        <div class="owl-item" style="width: 270px;">
                            <li class="item">
                                <div class="product-items">
                                    <div class="item-inner">
                                        <div class="image-container pull-left">
                                            <a class="product-item-photo"
                                               href="http://plazathemes.com/demo/presiden/english11/short-sleeve/orion-two-tone-fitted.html">
                                                <img alt=""
                                                     src="http://plazathemes.com/demo/presiden/pub/media/catalog/product/cache/small_image/400x/925f46717e92fbc24a8e2d03b22927e1/1/k/1kid.jpg">
                                            </a></div>
                                        <div class="des media-body">
                                            <div class="product-name">
                                                <strong class="product-item-name">
                                                    <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve/orion-two-tone-fitted.html">
                                                        Orion Two-Tone Fitted</a>
                                                </strong></div>
                                            <div class="price-box price-final_price" data-product-id="63"
                                                 data-role="priceBox">
												<span class="price-container price-final_price tax weee">
												<span class="price-wrapper " data-price-amount="72"
                                                      data-price-type="finalPrice">
												<span class="price">$72.00</span>
												</span></span></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        require([
            "jquery",
            "owlcarousel/minjs"
        ], function ($, owlCarousel) {
            $(document).ready(function () {
                $(".pt-recentproduct-container .ptowl").owlCarousel({
                    slideSpeed: 1000,
                    paginationSpeed: 1000,
                    rewindSpeed: 1000,
                    addClassActive: true,
                    navigation: false,
                    stopOnHover: true,
                    pagination: false,
                    addClassActive: true,
                    scrollPerPage: false,
                    items: 1,
                    itemsDesktop: [1199, 1],
                    itemsDesktopSmall: [992,],
                    itemsTablet: [767, 2],
                    itemsMobile: [479, 1]
                });
            });
        });
    </script>
    <div class="block block-left">
        <a href="#">
            <img alt="" src="http://plazathemes.com/demo/presiden/pub/media/wysiwyg/banner-category.jpg"></a></div>
</div>