<div class="sidebar sidebar-main">

    <div id="layered-filter-block" class="block filter" data-collapsible="true">
        <div class="block-title filter-title" data-count="0" role="tablist">
            <strong aria-expanded="false" aria-selected="false" data-role="title" role="tab" tabindex="0">
                Shop By</strong></div>
        <div class="block-content filter-content">
            {{ include(':home/Filter:filter.htm.twig') }}
        </div>
    </div>
</div>