<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}iFlora - eMarketplace {% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('barcelona/css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <style>


        </style>
    {% endblock %}


</head>

<body class="web_page logged_out logged_out_page_big_signup">

<div class="ContentWrapper">
    <div id="__w2_YkSpvs2_content">
        <div class="bg_container">
            <div class="bg_image opacity_20">
            </div>
        </div>
        <div class="HomePageSignupForm BaseSignupForm continue_with_text">
            <div class="NetworkLogo">
                <img height="65" src="{{ asset('barcelona/images/logo.png') }}" alt=""/></div>
            <!--  <h2 class="tagline">A place to share knowledge and better understand
                  the world</h2> -->

            <div id="__w2_MXbrS5R_actionable" class="container">
                <div class="content_inner">
                    <div class="signup_login">
                        <div class="signup">
                            <div id="__w2_MXbrS5R_initial_signup_column">
                                <div class="connect_buttons_row">
                                    <div>
										<span id="__w2_mE69Ll1_actionable" class="actionable">
										<a id="" action_mousedown="SignupGoogleClick" action_stop_propagation="True"
                                           class="submit_button" href="#" tabindex="5">
										<span class="google_button_text">I am a
										Buyer</span></a></span></div>
                                    <div>
										<span id="__w2_EJ7xUiE_actionable" class="actionable">
										<a id="__w2_EJ7xUiE_facebook_connect_button"
                                           action_mousedown="SignupFacebookClick" action_stop_propagation="True"
                                           class="submit_button" href="#" tabindex="6">
										<span class="facebook_button_text">I am
										a Grower</span></a></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="signup">
                            <div id="__w2_MXbrS5R_initial_signup_column">
                                <div class="connect_buttons_row">
                                    <div>
											<span id="__w2_mE69Ll1_actionable" class="actionable">
											<a id="__w2_mE69Ll1_google_connect_button"
                                               action_mousedown="SignupGoogleClick" action_stop_propagation="True"
                                               class="submit_button" href="#" tabindex="5">
											<span class="google_button_text">I am
											a Breeder</span></a></span></div>
                                    <div>
											<span id="__w2_EJ7xUiE_actionable" class="actionable">
											<a id="__w2_EJ7xUiE_facebook_connect_button"
                                               action_mousedown="SignupFacebookClick" action_stop_propagation="True"
                                               class="submit_button" href="#" tabindex="6">
											<span class="facebook_button_text">I
											am an Agent</span></a></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="FooterNav">
                    <ul class="nav_list">
                        <li class="about"><a href="/about">About</a></li>
                        <li class="careers"><a href="/careers">Careers</a></li>
                        <li class="sitemap"><a href="/sitemap">Sitemap</a></li>
                        <li class="privacy"><a href="/about/privacy">Privacy</a></li>
                        <li class="tos"><a href="/about/tos">Terms</a></li>
                        <li class="feedback"><a href="/contact">Contact</a></li>
                        <li class="language"><a href="https://es.quora.com">
                                Español</a></li>
                        <li class="language"><a href="https://fr.quora.com">
                                Français</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

</body>
</html>