
<!-- sidebar menu -->
<div class="sidebar sidebar-main">
    <ul class="nav side-menu">
        <li>
            <ul class="nav child_menu admin">

            <li> <a href="{{ url('breeder-inbox') }}"><i class="fa fa-inbox"></i> inbox</a></li>
        <li> <a href="{{ url('breeder-sent') }}"><i class="fa fa-send"></i> sent</a></li>
            </ul>
    </ul>
</div>
<!-- /sidebar menu -->