
<!-- sidebar menu -->
<div class="sidebar sidebar-main">
    <div class="menu_section">
        <h3>Catalog Management </h3>
        <ul class="nav side-menu">
            <li>
                <ul class="nav child_menu admin">

                    <li><a href="{{ path('my_breeder_seedling_list') }}"><i class="fa fa-cubes" aria-hidden="true"></i>
                            My
                            Products</a></li>
                    <li><a href="{{ path('breeder_seedlings_new') }}"><i class="fa fa-plus-circle"
                                                                         aria-hidden="true"></i>
                            New Product</a></li>
                    <li><a href="{{ path('breeder_order_list') }}"><i class="fa fa-shopping-cart"
                                                                      aria-hidden="true"></i>
                            Received Orders</a></li>

                </ul>
            </li>

        </ul>
    </div>

</div>
<!-- /sidebar menu -->