{% extends 'base.html.twig' %}
{% block title %} Forgot Password {% endblock %}
{% block body %}

    <main id="maincontent" class="page-main"><a id="contentarea" tabindex="-1"></a>

        <div class="page-title-wrapper">
            <h1 class="page-title">
                <span class="base" data-ui-id="page-title-wrapper">Password Reset</span></h1>
        </div>
        <div class="page message">
            <div data-placeholder="messages">
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endif %}
            </div>

        </div>
        <div class="columns">
            <div class="column main">
                <div class="login-container">
                    <div class="block block-customer-login">
                        <div class="block-title">
                            <strong id="block-customer-login-heading" role="heading" aria-level="2">Forgot Password</strong>
                        </div>
                        <div class="block-content" aria-labelledby="block-customer-login-heading">
                            {{ form_start(buyerform) }}
                            <fieldset class="fieldset login" data-hasrequired="* Required Fields">
                                <div class="field note">Forgotten you password? enter your email address address below.</div>
                                <div class="field email required">

                                    {{ form_row(buyerform._username) }}
                                </div>

                                <div class="actions-toolbar">
                                    <div class="primary">
                                        <button type="submit" class="action login primary" formnovalidate>
                                            <span>Continue</span></button>
                                    </div>
                                </div>
                            </fieldset>
                            {{ form_end(buyerform) }}
                        </div>
                    </div>
                    <div class="block block-new-customer">
                        <div class="block-title">
                            <strong id="block-new-customer-heading" role="heading" aria-level="2">Instructions</strong>
                        </div>
                        <div class="block-content" aria-labelledby="block-new-customer-heading">
                            <p>1. If you have an Account but have forgotten your Password, enter your email address in the form and click submit.</p>
                            <p>2. You will receive an email with a link to reset your password.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


{% endblock %}