{% extends 'base.html.twig' %}
{% block title %}Password Updated{% endblock %}
{% block pageTitle %}<h2>Password Updated</h2>{% endblock %}

{% block body %}


    <div class="category-view">
        <div class="page-title-wrapper">
            <h1 class="page-title" id="page-title-heading" aria-labelledby="page-title-heading toolbar-amount">
                <span class="base" data-ui-id="page-title-wrapper">Update Account Password</span></h1>
        </div>
        <div class="breadcrumbs">
            <ul class="items">
                <li class="item home">
                    <a href="{{ path('homepage') }}" title="Go to Home Page">
                        Home </a>
                </li>

                <li class="item home">
                    <a href="#" title="">
                        Security </a>
                </li>
                <li class="item category131">
                    <strong>Change Password</strong>
                </li>
            </ul>
        </div>
    </div>
    <main id="maincontent" class="page-main"><a id="contentarea" tabindex="-1"></a>

    <div class="page messages">
        <div data-placeholder="messages"></div>
        <div data-bind="scope: 'messages'">
            <div data-bind="foreach: { data: cookieMessages, as: 'message' }" class="messages"></div>
            <div data-bind="foreach: { data: messages().messages, as: 'message' }" class="messages"></div>
        </div>
    </div>
    <div class="columns" style="height: 400px">
    <h6 class="sppb-addon-title" style="font-size:14px;line-height:14px;">Password Updated</h6>

                                    <div class="sppb-addon-content"> <p>Thank you for updating your Account Password.
                                        </p>
                                        <p>You can now <a href="{{ path('homepage') }}">Click here</a> to login to your iFlora Account.</p>

                                    </div>
    </main>

{% endblock body %}