<!-- sidebar menu -->
<div class="sidebar sidebar-main">
    <div class="menu_section">
        <h3>Account Management </h3>
        <ul class="nav side-menu">
            <li>
                <ul class="nav child_menu admin">

                    <li><a href="{{ path('my_buyer_growers') }}"><i class="fa fa-user" aria-hidden="true"></i> My
                            Growers</a></li>
                    <li><a href="{{ path('my_buyer_agents') }}"> <i class="fa fa-group" aria-hidden="true"></i>
                            My Agents</a></li>
                    <li><a href="{{ path('order_list') }}"><i class="fa fa-shopping-cart"
                                                                      aria-hidden="true"></i> My Orders</a></li>
                    <li><a href="{{ path('auction_order_list') }}"><i class="fa fa-ship" aria-hidden="true"></i>
                            My Auction Orders</a></li>

                </ul>
            </li>

        </ul>
    </div>

</div>
<!-- /sidebar menu -->