<span class="counter qty">
            <span class="counter-number">  {% if(cart) %}
                    {{ cart.nrItems }}
                {% else %}
                    0
                {% endif %}</span>
            <span class="counter-label">
            <span>items</span><!-- /ko -->
            <!-- /ko -->
            </span>
        </span>