{% extends 'badmin.htm.twig' %}
{% block title %}Update Airline{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-bars"></i> Update Airline</h3>
                    <div class="box-tool">
                        <a href="#" data-action="collapse"><i class="fa fa-chevron-up"></i></a>

                    </div>
                </div>
                <div class="box-content">

                    {{ form_start(airlineForm) }}
                    {{ form_row(airlineForm.airlineName) }}

                    <div class="clearfix"></div>

                    <div class="form-group">
                        <div class="col-sm-12 col-md-12 controls">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> Update</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    {{ form_end(airlineForm) }}
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery('#parent').change(function(){
                var val = jQuery(this).val();
                if(val==0)
                {
                    jQuery('.icon-class-holder').show();
                }
                else
                {
                    jQuery('.icon-class-holder').hide();
                }

            }).change();
        });
    </script>
{% endblock %}