<div class="my-acount">
    <strong class="label" style="color:black;"><span>My Account<i style="color:#000;"
                    class="fa fa-angle-down">&nbsp;</i></span></strong>
    <ul class="header links">
        <li><a href="#">My Account</a></li>
        <li class="link wishlist" data-bind="scope: 'wishlist'">
            <a href="{{ path('breeder_order_list') }}">Orders
            </a>
        </li>

        <li class="authorization-link" data-label="or">
            <a href="{{ path('security_logout') }}">
                Logout </a>
        </li>
    </ul>
</div>